{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
    {% load crispy_forms_tags %}
    

     <div class="container-fluid">
       <div class="row justify-content-center" >
           <div style="border-radius: 20px;" class="col-4 mt-4 pt-5 text-dark  jumbotron">
           
            <h3 class="text-center">Register Form</h3>
<hr/>
{% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    {{form|crispy}}
    <div  class="col-12 TEXT-CENTER pt-4"><input style="width:100px" class="btn btn-danger " type="submit" /></div>
    <div  class="col-12 TEXT-CENTER pt-4"><a style="width:100px" class="btn btn-success" href="/">Login</a></div>

   
</form>
        
           </div>
       </div>
     </div>



    {% endblock content %}
</body>

</html>



